.works {
  width: 100%;
  // padding-bottom: 94px;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
.works--position {
  margin-left: auto;
  margin-right: auto;
}

.works__img {
  display: flex;
  width: 100%;
  // flex-wrap: nowrap;
  gap: 30px;
  padding: 0;
}
.works__li {
  position: relative;
}
.works__applications {
  position: absolute;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  bottom: 0;
}
.works__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  // padding-top: 60px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team {
  background: #f5f4fa;
  // padding-top: 94px;
  // padding-bottom: 94px;
}
.team--position {
  margin-left: auto;
  margin-right: auto;
}
.team__ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}
.benefits__width,
.works__li,
.team__li,
.footer__li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.team__li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team__people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  padding: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
}
.team__skills {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.team__links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}
.team__href {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--third-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
  &:hover,
  &:focus {
    background-color: var(--main-color);
  }
}
.team__icon {
  fill: var(--icon-main-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;

  .team__href:hover & {
    fill: var(--third-main-color);
  }
  .team__href:focus & {
    fill: var(--third-main-color);
  }
}
