:root {
  --main-color: #2196f3;
  --main-color-text: #212121;
  --second-main-color: #757575;
  --third-main-color: #ffffff;
  --icon-main-color: #afb1b8;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}
